derecho_results/
runs/
output/
turbineOutput/
*.o[0-9]*
*.e[0-9]*
*.log
*.err
*.out
vel.out.c*
tavg.out.c*
total_time.dat
grid.out
lesgo_param.out
check_ke.out
lesgo-mpi-ATM
lesgo-mpi-ATM-*
lesgo-run-exe
